.main-section {
    color: #838588;
    padding: 40px 0px;
    background-color: rgba(78, 146, 223, .2);
}

.main-section img {
    display: block;
    margin: 0px auto 15px auto;
}

.main-section p {
    max-width: 400px;
    margin: 0 auto;
}

.second-section {
    background-color: rgba(78, 146, 223, 1);
}

.second-section h1 {
    color: white;
    text-align: left;
    font-size: 1.6em;
    font-weight: 300;
}

.apps-container img {
    cursor: pointer;
}

.nunchee-form button {
    background-color: #4e92df;
    border: none;
    width: 100%;
    color: white;
    outline: 0;
}

.parallax { 
    background-image: url("../img/parallax.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
