body {
    font-size: 13px;
    font-family: Roboto;
}

/*
 * Overwrite Default Bootstrap grid with */

@media (min-width: 1200px){
    .container {
        width: 950px;
    }    
}


/*
 * Overwrite Default Boostrap Modal Styles 
 */

.modal,
.modal-content {
    background: transparent;
    box-shadow: none;
    border: none;
}

.modal-body {
    padding: 3px;
    background: white;
    border-radius: 3px;
}

.modal .modal-dialog {
    max-width: 280px;
    width: 100%;
}

.modal img {
    width: 274px;
}

.modal-footer {
    border: none;
    background: transparent;
}


/*
 * Overwrite Default Nprogress Styles */

#nprogress {
    position: relative;
    z-index: 9999999;
}

#nprogress .bar {
    background-color: white;
    height: 3px;
}

#nprogress .peg {
    box-shadow: none;
}

#nprogress .spinner-icon {
    border-top-color: white;
    border-left-color: white;
}
